<section class="hero">
    <h1>Discover the Future of Fashion</h1>
    <a href="/products" class="explore-btn">Explore Now</a>
</section>

<section class="categories">
    <div class="category women">
            <img src="/images/women.jpg" alt="Women Main Image">
            <h1><a href="/women" class="category-btn">Shop Women</a></h1>
    </div>
    <div class="category men">
            <img src="/images/men.jpg" alt="Men Main Image">
            <h1><a href="/men" class="category-btn">Shop Men</a></h1>
    </div>
    <div class="category kids">
            <img src="/images/kids.jpg" alt="Kids Main Image">
            <h1><a href="/kids" class="category-btn">Shop Kids</a></h1>
    </div>
</section>

<div class="carousel">
    <div class="carousel-inner">
      <% specificProducts.forEach(function(product, index) { %>
        <div class="carousel-item<%= index === 0 ? ' active' : '' %>">
          <img src="<%= product.image %>" alt="<%= product.name %>">
          <div class="carousel-caption">
            <h5><%= product.name %></h5>
            <p>$<%= product.price %></p>
          </div>
        </div>
      <% }); %>
    </div>
</div>

<script src="/js/script.js"></script>